*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-text {
    line-height: 46px;
    font-size: 74px;
    font-weight: 500;
    color: rgb(65, 66, 66);
    position: absolute;
    top: 25%;
    right: 20%;
}
.real{
    color: #414242;
    font-style: Italic;
    font-weight: 600;
}

.shop {
    color: #FDFDFD;
    padding-left: 29px;
    font-size: 16px;
}

.buy-good {
    font-size: 30px;
    color: #FDFDFD;
    font-weight: 500;
}

.goodies {
    display: flex;
    background-color: #FCF4EE;
    justify-content: center;
    flex-direction: column;
}

.pro1 {
    background-color: #2F666D;
    margin: 65px 0px 14px 65px;
    min-width: 348px;
    min-height: 142px;
    border-radius: 8px;
    text-align: center;
}

img.food {
    width: 162px;
    height: 162px;
    position: absolute;
    margin: 0px 0 0 0px;
    top: 54px;
    left: -30px;
    background-size: cover;
}

.goodness{
    text-align: justify;
    font-weight: 500;
    color: #686A6A;
}

/* .community{
    background: url(./Assets/Food\ Bank\ Elderly\ Woman\ Eating.jpg);
    background-repeat: no-repeat;
} */

.learn-more{
    padding: 8px 40px 8px 40px;
    background-color: #AB5B22;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.learn-more:hover{
    padding: 4px 20px 4px 20px;
    background-color: #AB5B22;
    outline: none;
    border: none;
    transition: all 0.5s ease-in;
    font-style: bold;
}
.logo{
    width: 281px;
    height: 79px;
}
.buy{
    font-size: 29px;
    color: #367560;
    border-left: 1px solid;
}
.search{
    /* border-radius: 0; */
    /* border: 1px solid #2F666D; */
    margin: 0 -6px 0px 12px;
}
.btns{
    /* border-radius: 0; */
    background-color: #2F666D;
    border: 1px solid #2F666D;
}

.footer{
    background-color: #2F666D;
    color: #fff;
}

li,a.footer-menu{
    list-style: none;
    color: #FDFDFD!important;
    text-decoration: none;
}
li,a:hover{
    list-style: none;
    color: #FDFDFD;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
}

.about-us{
    color: #D67A3C;
}
.footer-top,a:hover{
    color: #FDFAF6;
    text-decoration: none;
    pointer-events: none;
    text-decoration: underline;
    font-size: 20px;
}
.good-cart{
    display: flex;
    height: 79px;
    justify-content: start;
    /* border-right: 1px solid; */
}

.assets{
    justify-content: space-between;
}

.secondf{
    margin-top: 40px;
}

.footer-middle,a:hover{
    text-decoration: none;
}

.footer-border{
    border-bottom: 1px solid gray;
}

.community{
    position: absolute;
    top: 918px;
    left: 187px;
}

.heroes{
    font-size: 74px;
    color: #2F666D;
    line-height: 1;
}

.the-food{
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
}

.let{
    font-size: 64px;
}
.good-kart{
    max-height: 79px;
}

.great{
   background-color: #FCF4EE;
}
.mobile-banner{
    min-width: -webkit-fill-available;
    display: none;
}
.mobile-old-lady{
    min-width: -webkit-fill-available;
    display: none;
}
@media (max-width:780px) {
    .desktop-banner{
        display: none;
    }
    .mobile-banner{
        display: block;
    }
    .desktop-old-lady{
        display: none;
    }
    .mobile-old-lady{
        display: block;
    }
    #great{
        display: flex!important;
        flex-direction: column;
        padding-top: 12%;
    }
    .heart-cart{
        justify-content: center;
    }
    img.food{
        position: absolute;
        left: 12%;
    }
    .pro1{
        border-radius: 30px;
    }
    .banner-text {
        line-height: 65px;
        font-size: 74px;
        font-weight: 700;
        color: #414242;
        position: absolute;
        top: 43%;
        right: 20%;
    }
    .heart{
        margin-bottom: -18%;
    }
    .goodness {
        font-weight: 700;
        color: #686A6A;
        font-size: 16pt;
    }
    .community {
        position: absolute;
        top: 165%;
        left: 10%;
    }
    .good{
        display: flex;
        /* height: 79px; */
        justify-content: center;
        flex-direction: column-reverse;
        padding-left: 150px;
        /* border-right: 1px solid; */
    }
    .cart{
        padding-top: 25%;
        /* padding-bottom: 5%; */
        margin-left: -3%;
    }
    .search{
        padding-left: 40px;
        padding-bottom: 25px;
    }
    #great {
        display: flex!important;
        flex-direction: column;
        padding-top: 26%;
    }
    .f-menu{
        display: table-caption;
        margin-left: 200%;
    }
    
}